@reference "../index.css";

.utilityButton {
  @apply flex flex-row items-center justify-center
    whitespace-nowrap cursor-pointer
    border-0 font-bold
    bg-control-bg-color active:bg-control-subtle-highlight
    text-[12px] px-[6px] py-[1px] h-[18px] min-w-[22px];
}

.utilityButton::not(disabled) {
  /* color: var(--control-text-color); */
}

.utilityButtonActive {
  background: black;
  color: var(--control-bg-color);
}

.utilitySlider {
  appearance: none;
  background: var(--control-bg-color);
  cursor: ew-resize;
  &::-webkit-slider-thumb {
    width: 1px;
    appearance: none;
    height: 16px;
    background: black;
  }
}

.utilityInput {
  border: none;
  background-color: var(--control-bg-color);
  font-size: 11px;
  padding: 2px 4px;
}
