@reference "../index.css";

@layer components {
  .utilityButton {
    @apply flex flex-row items-center justify-center
    whitespace-nowrap cursor-pointer
    border-0 font-bold
    bg-control-bg-color active:bg-control-subtle-highlight
    text-[12px] px-[6px] py-px h-[18px] min-w-[22px];
  }

  .utilityButtonActive {
    @apply bg-black text-control-bg-color;
  }

  .utilitySlider {
    appearance: none;
    background: var(--control-bg-color);
    cursor: ew-resize;
    &::-webkit-slider-thumb {
      width: 1px;
      appearance: none;
      height: 16px;
      background: black;
    }
  }

  .utilityInput {
    @apply border-0 bg-control-bg-color text-[11px] px-1 py-[2px];
  }
}
