.utilityButton {
  font-size: 12px;
  font-weight: bold;
  padding: 1px 6px;
  height: 18px;
  border: none;
  background: #d3d3d3;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 22px;
}

.utilitySlider {
  appearance: none;
  background: #d3d3d3;

  &::-webkit-slider-thumb {
    width: 1px;
    appearance: none;
    height: 16px;
    cursor: ew-resize;
    background: black;
  }
}
