.utilityButton {
  font-size: 12px;
  font-weight: bold;
  padding: 1px 6px;
  height: 18px;
  border: none;
  background: var(--control-bg-color);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 22px;
}

.utilityButton:active {
  background-color: var(--control-subtle-highlight);
}

.utilityButton::not(disabled) {
  color: var(--control-text-color);
}

.utilityButtonActive {
  background: black;
  color: var(--control-bg-color);
}

.utilitySlider {
  appearance: none;
  background: var(--control-bg-color);
  cursor: ew-resize;
  &::-webkit-slider-thumb {
    width: 1px;
    appearance: none;
    height: 16px;
    background: black;
  }
}

.utilityInput {
  border: none;
  background-color: var(--control-bg-color);
  font-size: 11px;
  padding: 2px 4px;
}
