/* import tailwind without preflight */
/* @import "tailwindcss"; */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* controls */
  --color-effect-back: gray;
  --color-control-bg-color: #b9b9b9;
  --color-control-text-color: black;
  --color-control-subtle-highlight: #959595;
  /* clip */
  --color-clip-color: #69c33a;
  --color-clip-header: #5cab32;
  --color-clip-header-selected: #4d8f2a;
  --color-clip-border: #69c33a;
  --color-clip-border-selected: #103310;
  --color-clip-muted-color: #696969;
  /* timeline */
  --color-timeline-bg: #696969;
  --color-timeline-tick: #595959;
  --color-axis-timeline-separator: #444343;
  --color-axis-spacer-headers-separator: #373535;
  --color-cursor: white;
  --color-cursor-playback: red;
  /* list */
  --color-utility-list-bg: #fff;
  --color-utility-list-bg-disabled: #ebebe4;
  --color-list-item-disabled: gray;
  /* midi editor */
  --color-midi-note: red;
  --color-midi-note-border: #bb0000;
  --color-midi-note-selected: green;
  /* main */
  --color-background: #454648;
  --color-panel-active-background: #343434;
  --color-selected-track-background: #222324;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* image-rendering: pixelated; */
}

/* .nova-square-regular {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

:root {
  --background: #454648;
  --text-on-background: white;
  --track-separator: #2e2e2e;
  --border-against-bg: #eee;
  --timeline-bg: #696969;
  --timeline-text: #c9c9c9;
  --timeline-text-inactive: #161616;
  --timeline-tick: #595959;
  --axis-timeline-separator: #444343;
  --axis-spacer-headers-separator: #373535; /* interestingly has to be darker than --axis-timeline-separator to look of a similar color due to the different background grays*/

  --selected-track-header-bg: black;
  --control-bg-color: #b9b9b9;
  --control-text-color: black;
  --control-subtle-highlight: #959595;
  --utility-list-bg: #fff;
  --cursor: white;
  --cursor-playback: red;
  --clip-color: #69c33a;
  --clip-header: #5cab32;
  --clip-header-selected: #4d8f2a;
  --clip-border: #69c33a;
  --clip-border-selected: #114411;

  /* ////// TODO: call light vvv */
}

/* from: https://raw.githubusercontent.com/tailwindlabs/tailwindcss/refs/heads/main/packages/tailwindcss/preflight.css */
/* it was a great journey getting here and discovering this is what was making my canvas force a small 2.5px gap under it,
leading to an infinte loop with a ResizeObserver observing its parent div, but here we are, and I'm happy both about the
knowledge found at the destination and the proccess of brave discovery to get to it fuck yes */
/*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      This can trigger a poorly considered lint error in some tools but is included by design.
*/
/* only on canvas for now I can add the rest later */
/*
img,
svg,
video,
audio,
iframe,
embed,
object, */
canvas {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/* LIGHT */
/* :root {
  --background: white;
  --text-on-background: #black;
  --track-separator: #bababa;
  --timeline-bg: #ddd;
  --border-against-bg: #eee;
  --timeline-text: #454545;
  --axis-timeline-separator: #aaa;
  --axis-spacer-headers-separator: #eee;
  --selected-track-header-bg: #333;

  --control-bg-color: #d3d3d3;
  --control-text-color: black;
  --control-subtle-highlight: #bababa;
  --utility-list-bg: #fff;
  --timeline-tick: #cbcbcb;
  --cursor: green;
  --cursor-playback: red;
  --clip-color: #ccffcc;
  --clip-header: #bbeebb;
  --clip-header-selected: #225522;
  --clip-border: #aaddaa;
  --clip-border-selected: #114411;
} */

html,
body {
  overscroll-behavior-x: none;
  background-color: var(--background);
  color: var(--text-on-background);
  font-size: 12px;
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.spacer {
  flex-grow: 1;
}

.scrollbar-track {
  padding-right: 2px;
}

.scrollbar-track::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  margin-left: 3px;
}
.scrollbar-track::-webkit-scrollbar-track {
  /* background: #ddd; */
}
.scrollbar-track::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
